/* Estilizando body display flex pra centralizar com o justify-content*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column; /*indicar direção do conteudo do container como colunas, só usado no flexbox*/
    overflow: auto; /* Evita que o conteudo seja cortado*/
}


/* Estilo para a seção de imagem e nome */
.profile-section {
    text-align: center;
    margin-bottom: 20px;
}

img.perfil {
    display: block;
    margin: 0 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* Garante que a imagem seja cortada corretamente, O conteúdo é redimensionado para cobrir todo o contêiner */
}

h1 {
    color: #007bff;
    margin: 0;
    font-size: 2em; /* Ajusta o tamanho do texto do nome */
}

/* Estilos para a seção de informações */
.info-section {
    display: flex;
    flex-direction: column;
}

#sobre, #experiencia, #educacao, #habilidades, #contato {
    margin-bottom: 30px;
}
/*Adicionando margem para os ids acima*/
h2 {
    color: #007bff;
    border-bottom: 3px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 1.5em;
}
/*Estilizando os h2 com borda azul e configurando tamanho do texto e do padding bottom e margin botton*/
#sobre p, #experiencia p, #educacao p, #habilidades ul, #contato p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}
/*Estilizando os paragrafos dos id's de container acima e a lista de habilidades do texto*/
#habilidades ul {
    list-style-type: none;
    padding: 0;
}
/*Estilizando a lista com list style type retirando os marcadores da lista*/
#habilidades ul li {
    background: #e7f1ff;
    margin: 5px 0;
    padding: 8px;
    border-radius: 10px;
}
/*Estilizando conteudo das li dentro da ul*/
a {
    color: #007bff;
    text-decoration: none;
}
/*Estilizando o ancor do linkedin*/
a:hover {
    text-decoration: underline;
}
/*adicionando um hover underlina para quando colocar o cursor em cima*/
footer {
    text-align:center;
    color: #aaa;
    margin-top: 20px;
    font-size: 14px;
}

/*estilizando footer ao final central*/
